
/* GLOBAL RULES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row{}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.arr{
  padding: 20px 10%;
}

.orangeb{
  /* font-size: 0.8vw; */
  text-decoration: none;
  border-radius: 10px;
  padding: 7px;
  background-color: orange;
  color: white;
}

.orangeb0{
  border-radius: 10px;
  /* font-size: 1vw; */
  padding: 7px;
  color: orange;
  border: 2px solid orange;
}

.orangeb1{
  text-decoration: none;
  /* font-size: 1.3vw; */
  border-radius: 10px;
  padding: 20px;
  background-color: orange;
  color: white;

}

#container{
  position: relative;
  top: 62px;
}


ul li{
  padding: 0 7px;
  display: inline-block;
}

nav ul li a, .nav1 ul li a{
  color: #757575;
  /* font-size: 15px; */
  text-decoration: none;
}

footer * a, footer ul li a{
  text-decoration: none;
}

footer * a:hover, footer ul li a:hover{
  color: #00d9e8;
}

#fixed{
  position: fixed;
  background-color: #e3e3e3;
  /* height: 50px; */
  width: 100%;
  border-bottom: solid 2px black;
  z-index: 99;
}

.fixed_l{
  float: left;
  width: 30%;
}

.fixed_buttons{
  float: right;
  width: 70%;
  text-align: right;
}

.nav1{
  width: 100%;
}

.nav1_r{
  text-align: right;
  float: right;
  width: 90%;
  /* height: 40px; */
}

/* HEADER */

.h_big{
  background-image: url(../img/jumbotron.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 600px;
}

.subc_h{
  width: 36%;
}

.subc_h a{
  padding: 15px;
  font-size: 20px;

}

/* MAIN */



main{
  background-color: #e3e3e3;
}

main > *{
  margin: 70px 0;
}

.main_top img{
  width: 30%;
}

.main_top{
  margin: 0 25%;
  text-align: center;
  width: 50%;

}

.sub_col{
  padding-bottom: 8%;
}

.col_bar{
  width: 30%;
  float: left;
}

.pipe{
  margin-top: 3%;
  width: 50%;
  float: left;
  border: 1px solid grey;
}

.m_csr{
  border: 2px solid black;
  background-color: white;
}

.row_csr{
  margin: 4% 5%;
}

main .m_csr img{
  margin-bottom: 10%;
  width: 35%;
}


/* 3 COL PART */


.col_csr{
  line-height: 3;
  text-align: center;
  float: left;
  width: 40%;
}

.col_csr:last-child{
  text-align: left;
  width: 60%;
}

.col_csr li{
  display: inline-block;
}

.col_csr li img{
  display: inline-block;
  width: 10%;
}

.col-img{
  text-align: center;
  background-color: white;
}

.col-img img{
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.col-img{
  padding: 20px;
}

.col .col_checkbox{
  text-align: center;
  background-color: white;
  margin: 4% 10%;
  border-top: solid 1px black;
}

.col_checkbox ul{
  text-align: left;
}

.col{
  float: left;
  width: 30%;
  background-color: white;
}

.row .col:nth-child(2){
  margin: 0 5%;
}


/* SILIM TABLE PART */

.smerald{
  padding-bottom: 7%;
  margin-bottom: 0;
  background-image: linear-gradient(-90deg, lightgreen, lightblue);
}

.smerald_top{
  padding: 1%;
  text-align: center;
  margin: 0 10%;
  width: 80%;
}

.simil_table{
  margin-top: 4%;
}

.emerald-row{
  color: white;
  text-align: center;
}

.emerald-row2{
  color: white;
  text-align: center;
}

.emerald_col{
  padding: 4% 0;
  float: left;
  width: 25%;
}

.emerald-row .emerald_col:nth-child(2){
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.emerald-row .emerald_col:nth-child(3){
  border-right: 1px solid black;
}

.emerald-row2 .emerald_col:nth-child(2){
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.emerald-row2 .emerald_col:nth-child(3){
  border-right: 1px solid black;
}

.emerald-row .emerald_col:nth-child(n+1):nth-child(-n+4){
  border-bottom: 0.5px solid black;
}


/* GENERIC INFO PART */

.info_c{
  margin-bottom: 4%;
}

.info_num{
  margin: 3%;
  float: left;
}

.info_sponsor{
  float: right;
  width: 41%;
}

.info_bottom{
  float: left;
  padding: 4% 0;
  background-color: white;
  width: 60%;
}

.info_bottom a{
line-height: 7;
}

.info_bottom p:last-child{
  line-height: 3;
}

.info_pic{
  margin: 40px auto;
  float: right;
  width: 20%;
}

.info_pic img{
  width: 100%;
}

/* FOOTER */

footer{
  background-color: #467b99;
}

.footer_row{
  margin-top: 4%;
}

.footer_col{
  margin: 0 3%;
  float: left;
  width: 19%;
  line-height: 3;
}

.footer_col_5{
  text-align: center;
  margin: 0 1.4%;
  float: left;
  width: 17%;
}

.footer_col >*:first-child{
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.footer_col a{
  color: white;
}

.a_footer{
  background-color: grey;
  padding: 5%;
  border-radius: 10px;
}

.lang{
  margin: 30px 0;
  text-align: center;
  border-bottom: 2px solid black;
  /* height: 50px; */
}

.lang ul li{
  padding: 15px 20px;
  display: inline-block;
}

.lang ul li a{
  color: white;
}

.footer_bottom{
  float: left;
  color: white;
  width: 40%;
}

.footer_bottom2, .footer_bottom2 a{
  text-decoration: none;
  color: white;
  text-align: right;
  float: right;
  width: 30%;
}

.footer_col .a_footer{
  color: white;
}
