
/* GLOBAL RULES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.arr{
  padding: 30px 10%;
}

.orangeb{
  background-color: orange;
  color: white;
}

.container{
  position: relative;
  top: 50px;
}

.container::after{
  content: "";
  display: table;
  clear: both;
}

/* LOCAL RULES */
/* navber */

#fixed{
  position: fixed;
  background-color: lightgrey;
  height: 50px;
  width: 100%;
  border-bottom: solid 2px black;
  z-index: 99;
}

.nav1{
  top: 50px;
  background-color: red;
  height: 50px;
  width: 100%;
}

/* HEADER */

.h_big{
  background-color: #ffad33;
  height: 400px;
}

.subc_h{

  background-color: white;
  height: 80%;
  width: 35%;
}

/* MAIN */

main{
  background-color: #e3e3e3;
  /* height: 1000px; */

}

main > *{
  margin: 70px 0;
}

.main_top{
  margin: 0 25%;
  text-align: center;
  width: 50%;
  background-color: white;
  height: 300px;
}


.s_row{
  border: 2px solid black;
  background-color: white;
  height: 400px;
}

.row{
  background-color: purple;
  height: 600px;
}

.col{
  float: left;
  width: 30%;
  /* margin: 0 1%; */
  background-color: green;
  height: 600px;

}

.row .col:nth-child(2){
  margin: 0 5%;
}


/* SILIM TABLE PART */

.smerald{
  margin-bottom: 0;
  background-image: linear-gradient(-90deg, lightgreen, lightblue);
  height: 1100px;
}

.smerald_top{
  text-align: center;
  margin: 0 10%;
  width: 80%;
  background-color: white;
  height: 80px;
}

.simil_table{
  margin-top: 4%;
  height: 500px;
}

.emerald-row{
  background-color: grey;
  height: 250px;
}

.emerald_col{
  border: 2px solid black;
  float: left;
  width: 25%;
  background-color: green;
  height: 250px;
}

/* GENERIC INGO PART */

.info_c{
  /* padding-top: 35px; */
  background-color: green;
  height: 700px;
}

.info_num{
  display: inline-block;
  height: 228px;
  background-color: white;
  width: 55%;
}

.info_sponsor{
  margin: 40px auto;
  float: right;
  height: 128px;
  background-color: white;
  width: 25%;
}

.info_bottom{
  display: inline-block;
  margin: 40px 0;
  height: 250px;
  background-color: white;
  width: 60%;
}

.info_pic{
  margin: 40px auto;
  float: right;
  height: 250px;
  background-color: white;
  width: 35%;
}

/* FOOTER */

footer{
  background-color: darkblue;
  height: 600px;
}

.footer_row{
  background-color: white;
  height: 300px;
}

.footer_col{
  margin: 0 3%;
  float: left;
  background-color: purple;
  width: 19%;
  height: 300px;
}

.lang{
  /* color: white; */
  margin: 30px 0;
  text-align: center;
  border-bottom: 2px solid black;
  /* background-color: white; */
  height: 50px;
}

.lang ul li{
  padding: 15px 20px;
  display: inline-block;
}

.lang ul li a{
  color: white;
  text-decoration: none;
}

.footer_bottom{
  display: inline-block;
  background-color: white;
  width: 40%;
  height: 100px;
}

.footer_bottom2{
  float: right;
  width: 40%;
  height: 100px;
  background-color: white;
}
