
/* GLOBAL RULES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.arr{
  padding: 20px 10%;
}

.orangeb{
  border-radius: 10px;
  padding: 7px;
  background-color: orange;
  color: white;
}

.orangeb0{
  border-radius: 10px;
  padding: 7px;
  color: orange;
  border: 2px solid orange;
}

.orangeb1{
  border-radius: 10px;
  padding: 20px;
  background-color: orange;
  color: white;
  font-size: 20px;

}

.container{
  position: relative;
  top: 62px;
}

.container::after{
  content: "";
  display: table;
  clear: both;
}

ul li{
  padding: 0 7px;
  display: inline-block;
}

ul li a{
  color: #757575;
  font-size: 15px;
  text-decoration: none;

}

ul li a:hover{
  text-decoration: underline;
}

/*
[class*="col-"]{
  float: left;
} */


/* LOCAL RULES */
/* navber */

#fixed{
  position: fixed;
  background-color: #e3e3e3;
  /* height: 50px; */
  width: 100%;
  border-bottom: solid 2px black;
  z-index: 99;
}

.fixed_l{
  display: inline-block;
  width: 30%;
}

/* .fixed_l ul li, .fixed_buttons ul li{
  padding: 0 7px;
  display: inline-block;
}

.fixed_l ul li a, .fixed_buttons ul li a{
  text-decoration: none;
} */

.fixed_buttons{
  float: right;
  /* background-color: white; */
  width: 70%;
  text-align: right;
}

.nav1{
  /* background-color: red; */
  width: 100%;
}

.nav1_r{
  float: right;
  /* background-color: white; */
  width: 36%;
  height: 40px;
}

/* HEADER */

.h_big{
  background-image: url(../img/jumbotron.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  /* background-color: #ffad33; */
  min-height: 600px;
}

.subc_h{
  /* background-color: white; */
  /* height: 64%; */
  width: 36%;
}

.subc_h a{
  padding: 15px;
  font-size: 20px;

}

/* MAIN */

main{
  background-color: #e3e3e3;
}

main > *{
  margin: 70px 0;
}

.main_top img{
  width: 30%;
}

.main_top{
  margin: 0 25%;
  text-align: center;
  width: 50%;
  /* background-color: white; */
  /* height: 300px; */
}

.m_csr{
  border: 2px solid black;
  background-color: white;
  /* height: 400px; */
}

.row_csr{
  width: 80%;
  margin: 4% 10%;
  /* height: 290px; */
  /* background-color: green; */
}

.row_csr::after {
  content: "";
  display: table;
  clear: both;
}

main .m_csr img{
  margin-bottom: 10%;
  width: 35%;
}


/* 3 COL PART */


.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-img{
  text-align: center;
  height: 60%;
  background-color: white;
}

.col-img img{
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.col-img{
  padding: 20px;
}

.col .col_checkbox{
  text-align: center;
  height: 40%;
  background-color: white;
  margin: 0 10%;
  border-top: solid 1px black;
}

.col_checkbox ul{
  text-align: left;
}

.col_csr{
  text-align: center;
  float: left;
  display: inline-block;
  /* background-color: purple; */
  width: 40%;
  /* height: 260px; */
}

.col_csr:last-child{
  text-align: left;
  width: 60%;
  /* height: 290px; */
  /* background-color: yellow; */
}

.col_csr li{
  display: inline-block;
}

.col_csr li img{
  display: inline-block;
  width: 10%;
}
/* MAIN - 3 COL PART */

.row{
  background-color: purple;
  height: 600px;
}

.s_col{
  background-color: green;
  margin: 1%;
  height: 100px;
}

.col{
  float: left;
  width: 30%;
  /* margin: 0 1%; */
  background-color: green;
  height: 600px;

}

.row .col:nth-child(2){
  margin: 0 5%;
}


/* SILIM TABLE PART */

.smerald{
  margin-bottom: 0;
  background-image: linear-gradient(-90deg, lightgreen, lightblue);
  height: 1100px;
}

.smerald_top{
  text-align: center;
  margin: 0 10%;
  width: 80%;
  background-color: white;
  height: 80px;
}

.simil_table{
  margin-top: 4%;
  height: 500px;
}

.emerald-row{
  background-color: grey;
  height: 250px;
}

.emerald_col{
  border: 2px solid black;
  float: left;
  width: 25%;
  background-color: green;
  height: 250px;
}

/* GENERIC INFO PART */

.info_c{
  /* padding-top: 35px; */
  background-color: green;
  height: 700px;
}

.info_num{
  display: inline-block;
  height: 228px;
  background-color: white;
  width: 55%;
}

.info_sponsor{
  margin: 40px auto;
  float: right;
  height: 128px;
  background-color: white;
  width: 25%;
}

.info_bottom{
  display: inline-block;
  margin: 40px 0;
  height: 250px;
  background-color: white;
  width: 60%;
}

.info_pic{
  margin: 40px auto;
  float: right;
  height: 250px;
  background-color: white;
  width: 35%;
}

/* FOOTER */

footer{
  background-color: darkblue;
  height: 600px;
}

.footer_row{
  background-color: white;
  height: 300px;
}

.footer_col{
  margin: 0 3%;
  float: left;
  background-color: purple;
  width: 19%;
  height: 300px;
}

.lang{
  /* color: white; */
  margin: 30px 0;
  text-align: center;
  border-bottom: 2px solid black;
  /* background-color: white; */
  height: 50px;
}

.lang ul li{
  padding: 15px 20px;
  display: inline-block;
}

/* .lang ul li a{
  color: white;
  text-decoration: none;
} */

.footer_bottom{
  display: inline-block;
  background-color: white;
  width: 40%;
  height: 100px;
}

.footer_bottom2{
  float: right;
  width: 40%;
  height: 100px;
  background-color: white;
}
