
/* GLOBAL RULES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.arr{
  padding: 20px 10%;
}

.orangeb{
  text-decoration: none;
  border-radius: 10px;
  padding: 7px;
  background-color: orange;
  color: white;
}

.orangeb0{
  border-radius: 10px;
  padding: 7px;
  color: orange;
  border: 2px solid orange;
}

.orangeb1{
  text-decoration: none;
  border-radius: 10px;
  padding: 20px;
  background-color: orange;
  color: white;
  font-size: 20px;

}

.container{
  position: relative;
  top: 62px;
}

.container::after{
  content: "";
  display: table;
  clear: both;
}

ul li{
  padding: 0 7px;
  display: inline-block;
}

ul li a{
  color: #757575;
  font-size: 15px;
  text-decoration: none;

}

ul li a:hover{
  text-decoration: underline;
}

a:hover{
  text-decoration: underline;
}

/*
[class*="col-"]{
  float: left;
} */


/* LOCAL RULES */
/* navber */

#fixed{
  position: fixed;
  background-color: #e3e3e3;
  /* height: 50px; */
  width: 100%;
  border-bottom: solid 2px black;
  z-index: 99;
}

.fixed_l{
  display: inline-block;
  width: 30%;
}

/* .fixed_l ul li, .fixed_buttons ul li{
  padding: 0 7px;
  display: inline-block;
}

.fixed_l ul li a, .fixed_buttons ul li a{
  text-decoration: none;
} */

.fixed_buttons{
  float: right;
  /* background-color: white; */
  width: 70%;
  text-align: right;
}

.nav1{
  /* background-color: red; */
  width: 100%;
}

.nav1_r{
  text-align: right;
  float: right;
  /* background-color: white; */
  width: 90%;
  height: 40px;
}

/* HEADER */

.h_big{
  background-image: url(../img/jumbotron.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  /* background-color: #ffad33; */
  min-height: 600px;
}

.subc_h{
  /* background-color: white; */
  /* height: 64%; */
  width: 36%;
}

.subc_h a{
  padding: 15px;
  font-size: 20px;

}

/* MAIN */

main{
  background-color: #e3e3e3;
}

main > *{
  margin: 70px 0;
}

.main_top img{
  width: 30%;
}

.main_top{
  margin: 0 25%;
  text-align: center;
  width: 50%;
  /* background-color: white; */
  /* height: 300px; */
}

.m_csr{
  border: 2px solid black;
  background-color: white;
  /* height: 400px; */
}

.row_csr{
  width: 80%;
  margin: 4% 10%;
  /* height: 290px; */
  /* background-color: green; */
}

.row_csr::after {
  content: "";
  display: table;
  clear: both;
}

main .m_csr img{
  margin-bottom: 10%;
  width: 35%;
}


/* 3 COL PART */

.row{
  /* background-color: purple; */
  /* height: 600px; */
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.col_csr{
  text-align: center;
  float: left;
  display: inline-block;
  /* background-color: purple; */
  width: 40%;
  /* height: 260px; */
}

.col_csr:last-child{
  text-align: left;
  width: 60%;
  /* height: 290px; */
  /* background-color: yellow; */
}

.col_csr li{
  display: inline-block;
}

.col_csr li img{
  display: inline-block;
  width: 10%;
}

.col-img{
  text-align: center;
  height: 60%;
  background-color: white;
}

.col-img img{
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.col-img{
  padding: 20px;
}

.col .col_checkbox{
  text-align: center;
  height: 40%;
  background-color: white;
  margin: 4% 10%;
  border-top: solid 1px black;
}

.col_checkbox ul{
  text-align: left;
}


/* .s_col{
  background-color: green;
  margin: 1%;
  height: 100px;
} */

.col{
  float: left;
  width: 30%;
  /* margin: 0 1%; */
  background-color: white;
  /* height: 600px; */
}

.row .col:nth-child(2){
  margin: 0 5%;
}


/* SILIM TABLE PART */

.smerald{
  padding-bottom: 7%;
  margin-bottom: 0;
  background-image: linear-gradient(-90deg, lightgreen, lightblue);
}

.smerald::after {
  content: "";
  display: table;
  clear: both;
}

.smerald_top{
  padding: 1%;
  text-align: center;
  margin: 0 10%;
  width: 80%;
  /* background-color: white; */
  /* height: 80px; */
}

.simil_table{
  margin-top: 4%;
  /* height: 500px; */
}

.emerald-row{
  color: white;
  text-align: center;
  /* background-color: grey; */
  /* height: 250px; */
}

.emerald-row2{
  color: white;
  text-align: center;
  /* background-color: grey; */
  /* height: 250px; */
}

.emerald_col{
  padding: 4% 0;
  float: left;
  width: 25%;
  /* background-color: green; */
  /* height: 250px; */
}

.emerald-row .emerald_col:nth-child(2){
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.emerald-row .emerald_col:nth-child(3){
  border-right: 1px solid black;
}

.emerald-row2 .emerald_col:nth-child(2){
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.emerald-row2 .emerald_col:nth-child(3){
  border-right: 1px solid black;
}

.emerald-row .emerald_col:nth-child(n+1):nth-child(-n+4){
  border-bottom: 0.5px solid black;
}

.emerald-row2 .emerald_col:nth-child(n+1):nth-child(-n+4){
  border-bottom: 0;
}

/* GENERIC INFO PART */

.info_c{
  margin-bottom: 4%;
  /* padding-top: 35px; */
  /* background-color: green; */
  /* height: 700px; */
}

.info_num{
  margin: 3%;
  display: inline-block;
  /* height: 228px; */
  /* background-color: white; */
  /* width: 25%; */
}

.info_sponsor{
  /* margin: 40px auto; */
  float: right;
  /* height: 128px; */
  /* background-color: white; */
  width: 41%;
}

.info_bottom{
  display: inline-block;
  padding: 4% 0;
  height: 250px;
  background-color: white;
  width: 60%;
}

.info_bottom a{
line-height: 7;
}

.info_bottom p:last-child{
  line-height: 3;
}

.info_pic{
  margin: 40px auto;
  float: right;
  /* height: 250px; */
  /* background-color: white; */
  width: 20%;
}

.info_pic img{
  width: 100%;
}



/* FOOTER */

footer{
  background-color: #467b99;
  /* height: 600px; */
}

.footer_row{
  margin-top: 4%;
  /* background-color: white; */
  /* height: 300px; */
}

.footer_row::after {
  content: "";
  display: table;
  clear: both;
}

.footer_col{
  margin: 0 3%;
  float: left;
  /* background-color: purple; */
  width: 19%;
  /* height: 300px; */
  line-height: 3;
}

.footer_col_5{
  text-align: center;
  margin: 0 1%;
  float: left;
  /* background-color: purple; */
  width: 18%;
  /* height: 300px; */
  /* line-height: 3; */
}

.footer_col >*:first-child{
  color: white;
  font-weight: bold;
}

.footer_col a{
  text-decoration: none;
  color: white;
}

.a_footer{
  background-color: grey;
  padding: 5%;
  border-radius: 10px;
}

.lang{
  /* color: white; */
  margin: 30px 0;
  text-align: center;
  border-bottom: 2px solid black;
  /* background-color: white; */
  height: 50px;
}

.lang ul li{
  padding: 15px 20px;
  display: inline-block;
}

.lang ul li a{
  color: white;
  /* text-decoration: none; */
}

.footer_bottom{
  color: white;
  display: inline-block;
  /* background-color: white; */
  width: 40%;
  /* height: 100px; */
}

.footer_bottom2, .footer_bottom2 a{
  /* padding: 1%; */
  text-decoration: none;
  color: white;
  text-align: right;
  float: right;
  width: 30%;
  /* height: 100px; */
  /* background-color: white; */
}
