
/* GLOBAL RULES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.arr{
  padding: 30px 10%;
}

.orangeb{
  background-color: orange;
  color: white;
}

.container{
  position: relative;
  top: 50px;
}

.container::after{
  content: "";
  display: table;
  clear: both;
}

/* LOCAL RULES */

#fixed{
  position: fixed;
  background-color: lightgrey;
  height: 50px;
  width: 100%;
  border-bottom: solid 2px black;
  z-index: 99;
}

.nav1{
  top: 50px;
  background-color: red;
  height: 50px;
  width: 100%;
}

.h_big{
  background-color: #ffad33;
  height: 400px;
}

/* MAIN */

main{
  background-color: #e3e3e3;
  /* height: 1000px; */

}

main > *{
  margin: 70px 0;
}

.main_top{
  margin: 0 25%;
  text-align: center;
  width: 50%;
  background-color: white;
  height: 300px;
}


.s_row{
  border: 2px solid black;
  background-color: white;
  height: 400px;
}

.row{
  background-color: purple;
  height: 600px;
}

.col{
  width: 30%;
  margin: 0 10%;
  background-color: green;
  height: 300px;
  
}
